body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .contenedor {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .cuadro {
    display: inline-block;
  }
  
  .foto-contacto {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    margin: 10px 0;
    color: #555;
  }
  

  